In [3]:
import pandas as pd
import numpy as np

import keras
keras.__version__


from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Embedding

In [13]:
advising = pd.read_json('txt2sql-data/advising.json')
academic.head()

,query-split,sentences,sql,variables
0,1,"[{'question-split': '4', 'text': 'return me th...",[SELECT JOURNALalias0.HOMEPAGE FROM JOURNAL AS...,"[{'example': 'PVLDB', 'location': 'both', 'nam..."
1,0,"[{'question-split': '0', 'text': 'return me th...",[SELECT AUTHORalias0.HOMEPAGE FROM AUTHOR AS A...,"[{'example': 'H. V. Jagadish', 'location': 'bo..."
2,9,"[{'question-split': '1', 'text': 'return me th...",[SELECT PUBLICATIONalias0.ABSTRACT FROM PUBLIC...,"[{'example': 'Making database systems usable',..."
3,2,"[{'question-split': '6', 'text': 'return me th...",[SELECT PUBLICATIONalias0.YEAR FROM PUBLICATIO...,"[{'example': 'Making database systems usable',..."
4,3,"[{'question-split': '4', 'text': 'return me th...",[SELECT PUBLICATIONalias0.TITLE FROM PUBLICATI...,"[{'example': '2000', 'location': 'both', 'name..."